.conteiner {
    width: 320px;
    display: flex;
    flex-flow: row wrap;
    .cell {
        width: 50px;
        height: 50px;
        background-color: rgb(249, 249, 58);
        position: relative;
        border: 0.1px solid;

        &.rotation90 {
            transform: rotate(90deg);
        }
        &.rotation180 {
            transform: rotate(180deg);
        }
        &.rotation270 {
            transform: rotate(270deg);
        }
        &.rotation360 {
            transform: rotate(360deg);
        }

        div {
            width: 21px;
            height: 21px;
        }
        .first-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .first-3 {
            position: absolute;
            bottom: 0;
            width: 50px;
            border-top: 8px solid;
        }
        .first-4 {
            position: absolute;
            bottom: 0;
            border-top: 8px solid;
            border-right: 8px solid;
        }
        .second-1 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .second-2 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .second-3 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .second-4 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .third-1-1 {
            position: absolute;
            right: 0;
            top: 0;
            border-left: 8px solid;
            border-bottom: 8px solid;
        }
        .third-1-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
        }
        .third-2 {
            position: absolute;
            width: 50px;
            bottom: 0;
            border-top: 8px solid;
        }
        .third-3-1 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .third-3-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .third-4 {
            position: absolute;
            bottom: 0;
            width: 50px;
            border-top: 8px solid;
        }
        .third-5 {
            position: absolute;
            left: 0;
            bottom: 0;
            border-top: 8px solid;
            border-right: 8px solid;
        }
        .fourth-1 {
            position: absolute;
            right: 0;
            top: 0;
            border-left: 8px solid;
            border-bottom: 8px solid;
        }
        .fourth-2 {
            position: absolute;
            bottom: 0;
            width: 50px;
            border-top: 8px solid;
        }
        .fourth-3-1 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .fourth-3-2 {
            position: absolute;
            left: 0;
            bottom: 0;
            border-right: 8px solid;
        }
        .fourth-5 {
            position: absolute;
            left: 0;
            top: 0;
            height: 50px;
            border-right: 8px solid;
        }
        .fifth-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .fifth-3-1 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .fifth-3-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            border-left: 8px solid;
            border-top: 8px solid;
        }
        .fifth-4 {
            position: absolute;
            bottom: 0;
            width: 50px;
            border-top: 8px solid;
        }
        .fifth-5 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
        .sixth-2 {
            position: absolute;
            right: 0;
            top: 0;
            border-left: 8px solid;
            border-bottom: 8px solid;
        }
        .sixth-3 {
            position: absolute;
            left: 0;
            top: 0;
            border-right: 8px solid;
            border-bottom: 8px solid;
        }
    }

} 
/*
.arrows {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    padding-top: 50px;
    div {
        width: 50px;
        height: 50px;
        background-color: greenyellow;
        border: 0.1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
*/